<div class="container text-center">
  <h3>{{task.taskName}}</h3>
  <h3 *ngIf="editMode">Edit mode</h3>
</div>
<div class="container center-block">
  <div class="row">
    <div class="container center-block">
      <div class="row">
        <div class="col-md-3 col-lg-offset-4">
          <p>Hi there</p>
          <p>Hi there</p>
          <p>Hi there</p>
          <p>Hi there</p>
          <p>Hi there</p>
          <p>Hi there</p>
          <p>Hi there</p>
        </div>
        <div class="col-md-3">
          <p>Hi there another column</p>
          <p>Hi there another column</p>
          <p>Hi there another column</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 col-md-offset-4">
          <button class="btn btn-primary">New</button>
          <button class="btn btn-success">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
